@model TeacherProject.Models.Student
@{
    ViewBag.Title = "Show";
}

<h2 class="show-header">@Model.StudentFName @Model.StudentLName</h2>
<p class="show-detail"><strong>Student Id:</strong> @Model.StudentId <br/> <strong>Student Number:</strong> @Model.StudentNum</p>

