
@model IEnumerable<TeacherProject.Models.Teacher>

@{
    ViewBag.Title = "List";
}

<h2>Teachers:</h2>
<div>
    <a href="/Teacher/Add">Add a new Teacher</a>
</div>
<form method="GET" action="/Teacher/List">
    <label for="SearchKey">Search for a Teacher by last name:</label>
    <input type="text" name="SearchKey" id="Searchkey" />
    <input type="submit" value="Search"/>
</form>
<div class="page-content">
    @foreach (var Teacher in Model)
    {
        <h3 class="item-head"><a href="/Teacher/Show/@Teacher.TeacherId">@Teacher.TeacherFName  @Teacher.TeacherLName</a></h3>
        <p class="item-detail"><strong>Teacher ID:</strong> @Teacher.TeacherId</p>
    }
</div>

<!--<a href= http://localhost:58774/Teacher/show/ + Teacher.TeacherId-->
<!-- tried putting this in an anchor tag around the teacher name in the h3 to link to more info but it didn't go throug.  Would like to try again. '-->
