
@{
    ViewBag.Title = "New";
}

<h2>New Class</h2>
<form method="POST" action="">
    <div>
        <label for="">Class Name</label>
        <input type="text" name="ClassName" id="ClassName" />
    </div>
    <div>
        <label for="">Class Code</label>
        <input type="text" name="ClassCode" id="ClassCode" />
    </div>
    <input type="submit" value="Add Class" />
</form>

