@model TeacherProject.Models.SchoolClass

@{
    ViewBag.Title = "Show";
}

<h2 class="show-header">@Model.SchoolClassName</h2>
<p class="show-detail"><strong>Class Code:</strong>  @Model.SchoolClassCode  <br/> <strong>Class ID:</strong>  @Model.SchoolClassId</p>

